@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Index</h1>
    <p>Bienvenidos a ORTWorld</p>
<header>
<nav>
<ul>
<li>Destino<li>
<li>Hotel<li>
<li>Aereo<li>
<li>Excursión<li>
<ul>
<nav>

<a href = '@Url.Action("selectPaquete")'> Seleccionar paquete</a>
@foreach(ViewBag.paquete in )
